.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  appearance: none;
  width: 407px;
  height: 11px;
}

.meter {
  margin: 0 auto;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
}

.password-strength-meter-label {
  font-size: 14px;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.strength-Weak::-webkit-progress-value {
  background-color: rgb(236, 105, 103);
}

.strength-Fair::-webkit-progress-value {
  background-color: rgb(255, 224, 102);
}

.strength-Good::-webkit-progress-value {
  background-color: rgb(36, 123, 160);
}

.strength-Strong::-webkit-progress-value {
  background-color: rgb(112, 193, 179);
  
}
